@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

body{
    box-sizing: border-box;
    background-color: #F3F5FC;
}
.apresentacao{
    display: flex;
    justify-content: space-between;
}
.apresentacao__criptografar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 168px 0 0 180px;
    flex-wrap: wrap;
}
.apresentacao__criptografar__textarea{
    resize: none;
    margin: 5px;
    border: 0px;
    background-color: #F3F5FC;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #0A3871;
}
.apresentacao__criptografar__textarea::placeholder{
    color: #0A3871;
}
.apresentacao__criptografar__interacao{
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.apresentacao__criptografar__interacao__aviso{
    display: flex;
    gap: 8px;
}
.apresentacao__criptografar__interacao__aviso__texto{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.apresentacao__criptografar__interacao__botoes{
    display: flex;
    gap: 24px;
}
.apresentacao__criptografar__interacao__botoes__criptografar{
    width: 328px;
    padding: 24px;
    border-radius: 24px;
    border: 1px solid #0A3871;
    background-color: #0A3871;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.apresentacao__criptografar__interacao__botoes__descriptografar{
    width: 328px;
    padding: 24px;
    border-radius: 24px;
    border: 1px solid #0A3871;
    background-color: #F3F5FC;
    color: #0A3871;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.apresentacao__descriptografar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 850px;
    background-color: white;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    margin: 40px 40px 40px 0;
}
.apresentacao__descriptografar__texto{
    padding: 32px;
    word-break: break-all;
    color: #495057;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.apresentacao__descriptografar__copiar{
    margin: 32px;
    padding: 24px;
    border-radius: 24px;
    border: 1px solid #0A3871;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: white;
    width: 300px;
}
.apresentacao__descriptografar__vazio{
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 850px;
    background-color: white;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    margin: 40px 40px 40px 0;
}
.apresentacao__descriptografar__vazio__mensagem1{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #343A40;
    margin: 0px 32px;
}
.apresentacao__descriptografar__vazio__mensagem2{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-family: 16px;
    font-weight: 400;
    margin: 16px 32px;
}

@media (max-width: 1317px){
    .apresentacao{
        flex-direction: column;
        align-items: center;
    }
    .apresentacao__criptografar{
        padding: 240px 0 0 0;
    }
    .apresentacao__criptografar__interacao{
        width: 100%;
        margin-bottom: 30px;
    }
    .apresentacao__descriptografar{
        width: 688px;
        padding: 32px;
        justify-content: flex-start;
        height: auto;
    }
    .apresentacao__descriptografar__vazio{
        width: 688px;
        padding: 32px;
        justify-content: flex-start;
        height: auto;
        margin: 0px 0px 0px 0px;
    }
    .apresentacao__descriptografar__vazio__img{
        display: none;
    }
    .apresentacao__descriptografar__vazio__mensagem2{
        margin: 16px 32px 0 32px;
    }
}

@media (max-width: 768px){

}