@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    --cor-primaria: #F3F5FC;
    --cor-secundaria: white;
    --cor-terciaria: #0A3871;
}

*{
    margin: 0;
    padding: 0;
}
textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
}
.cabecalho{
    padding: 20px 0px 0px 180px;
}
.cabecalho__titulo{
    color: var(--cor-terciaria);
    font-family: 'Inter', sans-serif;
}
.conteudo{
    display: flex;
    justify-content: space-between;
}
.conteudo__criptografar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 100px 0 0 180px;
    flex-wrap: wrap;
}
.conteudo__criptografar__textarea{
    width: 100%;
    resize: none;
    margin: 5px;
    border: 0px;
    background-color: var(--cor-primaria);
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: var(--cor-terciaria);
}
.conteudo__criptografar__textarea::placeholder{
    color: var(--cor-terciaria);
}
.conteudo__criptografar__interacao{
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.conteudo__criptografar__interacao__aviso{
    display: flex;
    gap: 8px;
}
.conteudo__criptografar__interacao__aviso__texto{
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
}
.conteudo__criptografar__interacao__botoes{
    display: flex;
    gap: 24px;
}
.conteudo__criptografar__interacao__botoes__criptografar{
    width: 328px;
    padding: 24px;
    border-radius: 24px;
    border: 1px solid var(--cor-terciaria);
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
.conteudo__criptografar__interacao__botoes__descriptografar{
    width: 328px;
    padding: 24px;
    border-radius: 24px;
    border: 1px solid var(--cor-terciaria);
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
.conteudo__visualizacao{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 750px;
    background-color: var(--cor-secundaria);
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    margin: 40px 40px 40px 0;
}
.conteudo__visualizacao__texto{
    padding: 32px;
    word-break: break-all;
    color: #495057;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}
.conteudo__visualizacao__copiar{
    margin: 32px;
    padding: 24px;
    border-radius: 24px;
    border: 1px solid var(--cor-terciaria);
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background-color: var(--cor-secundaria);
    width: 300px;
}
.conteudo__visualizacao__copiar:hover{
    background-color: var(--cor-primaria);
}
.conteudo__visualizacao__vazio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 750px;
    background-color: var(--cor-secundaria);
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    margin: 40px 40px 40px 0;
}
.conteudo__visualizacao__vazio > div{
    text-align: center;
}
.conteudo__visualizacao__vazio__mensagem1{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #343A40;
    margin: 0px 10px;
}
.conteudo__visualizacao__vazio__mensagem2{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-family: 16px;
    font-weight: 400;
    margin: 16px 20px;
}
.conteudo__visualizacao__vazio__img{
    max-width: 100%;
}
footer > p {
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: var(--cor-terciaria);
    margin-top: 15px;
}

@media (max-width: 1317px){
    .cabecalho{
        padding: 20px 0 0 0;
        text-align: center;
    }
    .conteudo{
        flex-direction: column;
        align-items: center;
    }
    .conteudo__criptografar{
        padding: 150px 0px 0px 0px;
    }
    .conteudo__criptografar__interacao{
        margin-bottom: 30px;
        width: 100%;
    }
    .conteudo__visualizacao{
        width: 80%;
        padding: 32px;
        justify-content: flex-start;
        height: auto;
        margin: 0px 0px 10px 0px;
    }
    .conteudo__visualizacao__vazio{
        width: 80%;
        padding: 32px;
        justify-content: flex-start;
        height: auto;
        margin: 0px 0px 15px 0px;
    }
    .conteudo__visualizacao__vazio__img{
        display: none;
    }
    .conteudo__visualizacao__vazio__mensagem2{
        margin: 16px 32px 0 32px;
    }
    footer > p{
        margin-bottom: 15px;
    }
}

@media (max-width: 770px){
    .conteudo__criptografar{
        padding: 150px 16px 0px 16px;
        width: 70%;
    }
    .conteudo__criptografar__interacao__botoes{
        flex-direction: column;
    }
    .conteudo__criptografar__interacao__botoes__criptografar{
        width: 100%;
    }
    .conteudo__criptografar__interacao__botoes__descriptografar{
        width: 100%;
    }
    .conteudo__visualizacao__vazio{
        margin: 0px 0px 15px 0px;
    }
    footer > p{
        margin-bottom: 20px;
    }
}